
title: FABLab Rehab - Atrium Health 
email:
description: >- # this means to ignore newlines until "baseurl:"
  Charlotte Latin students, Karlin Smith, Marisol Wickham, Caroline Uys, and Scarlett Black, working with Atrium Health to create assistive devices for their rehabilitation center in Uptown Charlotte. 
github_usernames: KarlinSmith08, 26wickhm, carolineuys, Scarletteblack
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Karlin Smith, Marisol Wickham, Caroline Uys, Scarlett Black"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "Charlotte Latin students, Karlin Smith, Marisol Wickham, Caroline Uys, and Scarlett Black, working with Atrium Health to create assistive devices for their rehabilitation center in Uptown Charlotte. "
  links:
    - label: "GitHub Repository"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/KarlinSmith08/FABLabRehab_Atrium_Health"
   
footer:
  links:
   - label: "GitHub Repository"
     icon: "fab fa-fw fa-github"
     url: "https://github.com/KarlinSmith08/FABLabRehab_Atrium_Health"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
